@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sen", sans-serif;
}

.outer {
  width: 100%;
  max-width: 1920px;
  /* padding: 40px 72px;  */
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 88px;
  padding: 0 68px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

#hero {
  width: inherit;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: red; */
  position: relative;
  z-index: 0;
}

.hero-left {
  background: url(images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 55vw;
  height: 80vh;
  position: absolute;
  left: 0;
  z-index: 1;
}

.hero-right {
  background-color: rgba(24, 24, 35, 1);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 137px;
  padding-right: 44px;
}

.hero-content {
  width: 720px;
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 76px;
  color: rgba(255, 255, 255, 1);
}

.hero-content h1 span {
  color: rgba(255, 255, 255, 0.5);
}

.hero-content p {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 4px;
}

nav a {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 32px 24px;
}

nav a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(82, 33, 230, 1);
  font-weight: 700;
}

#feature_section {
  height: 701px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 125px;
}

.second-tagline {
  color: rgba(132, 145, 160, 1);
  font-weight: 700;
  font-size: 16px;
}

.h2_white {
  font-weight: 700;
  font-size: 55px;
  color: rgba(255, 255, 255, 1);
}

.h2_black {
  font-weight: 700;
  font-size: 55px;
  color: rgba(24, 24, 35, 1);
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 87px;
}

.number {
  font-size: 117px;
  font-weight: 400;
  color: rgba(132, 145, 160, 1);
}

.feature-heading {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.features-p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  line-height: 150%;
  margin-top: 10px;
}

#feature_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 600px;
}

.feature_image_left {
  width: 50%;
  height: inherit;
  background-color: rgba(255, 243, 228, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 125px 70px;
}

.feature_image_right {
  width: 50%;
  height: inherit;
  background: url(images/featured.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature_image_p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(91, 104, 118, 1);
  margin-top: 10px;
  line-height: 150%;
  margin-bottom: 140px;
}

.feature_image_button {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 1);
  line-height: 150%;
  background-color: rgba(255, 243, 228, 1);
  border: none;
  border-bottom: 1px solid rgba(91, 104, 118, 1);
}

#feature_image_two {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 600px;
}

.feature_image_right_two {
  width: 50%;
  height: inherit;
  background: url(images/featured2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#skillset {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 127px 70px 118px 70px;
}

.skillset_left {
  width: 20%;
}

.skillset_right {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.skill {
  width: 416px;
  height: 169px;
}

.h3_white {
  font-weight: 700;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}

#dribble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: inherit;
  height: 1213px;
  background-color: black;
  padding: 123px 181px;
}

.dribble_button {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 150%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(91, 104, 118, 1);
  margin-bottom: 118px;
  margin-top: 20px;
}

.dribble_p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(91, 104, 118, 1);
  margin-top: 10px;
  line-height: 150%;
}

#testimonials {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: inherit;
  height: 2675px;
  background-color: transparent;
  padding: 114px 73px;
}

.testimonials_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.testimonials_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
}

.testimonial_h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.testimonial_person {
  font-size: 18px;
  font-weight: 700;
  color: rgba(132, 145, 160, 1);
  margin-top: 67px;
}

.testimonial_position {
  font-size: 16px;
  font-weight: 300;
  color: rgba(132, 145, 160, 1);
}

.testimonial_text {
  padding: 64px 57px;
}

.testimonial_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
  width: 636px;
  height: 751px;
  border: 1px solid rgba(91, 104, 118, 1);
}

#photography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: inherit;
  height: 959px;
  background-color: black;
  padding: 40px 75px;
}

.location_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.locations {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(82, 33, 230, 1);
  padding: 12px 16px;
}

.locations:hover {
  background-color: rgba(82, 33, 230, 1);
}

.location_images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

#talk {
  width: inherit;
  height: 731px;
  background-color: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 130px 183px;
}

.talk_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.talk_right {
  width: 50%;
}

.talk_right_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.talk_right_form span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  gap: 5px;
}

.talk_right_form span label {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
}

.talk_right_form span input {
  width: inherit;
  background-color: rgba(24, 24, 35, 1);
  width: 526px;
  height: 50px;
  border: none;
}

.talk_right_form span textarea {
  background-color: rgba(24, 24, 35, 1);
  width: 526px;
  height: 100px;
  border: none;
}

.talk_right button {
  background-color: rgba(82, 33, 230, 1);
  padding: 24px 33px;
  color: white;
  border: none;
  width: 525px;
}
